body {
	font-family: 'Amatic SC', cursive;
}
.container {
    background-color: white;
	height: 250vh;
	margin: 0em auto;
	margin-top: -1rem;
}

.navbar {
    background-color: #f8f9fa;
	color: gray;
	font-size: 2em;
}
.headers {
	margin-top: 0rem;
}

h1 {
	font-size: 3.5em;
    color: black;
}

h2 {
    font-size: 2.5em;
    color: black;
}

.jumboimage {
	margin: 1em auto;
}

.footer {
	display: block;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color:#343a40;
	color: white;
	text-align: center;
	padding: 1em 1em;
	margin-top: 1em;
	
}

.footerlist {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	margin: 1em;
}

.footerlink {
	margin: 1em;
	color: white;
}

.mapouter {
	margin: .5em auto;
}
.mapouter2 {
	margin: .5em auto;
}

.row {
	margin: 2rem auto;
}

@media only screen and (max-width: 950px) {
	.mapouter {
		display: none;
	.row {
		text-align: center;
	}
	}
}

@media only screen and (min-width: 950px) {
	.mapouter2 {
		display: none;
	}
}	

// .text1 {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-between;
// }
// .text1 {
// 	text-align: center;
// 	@include media-breakpoint-up(md) {

// 	}
// }

// .headers {
// 	text-align: center;
// 	@include media-breakpoint-up(md) {
	
// }
// }