
.container {
    background-color: white;
    height: 100vh;
}

.navbar {
    background-color: #f8f9fa;
    color: gray;
}

h1 {
    font-size: 3em;
    color: black;
}

h2 {
    font-size: 2em;
    color: black;
}

.headers {
	
}