$spacer: 1rem;

nav {
    font-family: 'Amatic SC', cursive;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 0 10%;
    height: 100%;
    padding: 5% 10% 10% 10%;
    margin-top: -2rem;
}

p {
    color: rgba(0, 0, 0, 0.5);
}

.topMargin {
    margin-top: 1rem;
}

.coffeeCard {
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border: 0 !important;
}

.no-gutters {
    padding-left: 0;
    padding-right: 0;
}

.noMargin {
    margin: 0;
}

.coffeeCard p {
    color: black;
    font-size: 12px;
}

.headerFont {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}



.footer {
	display: block;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color:#343a40;
	color: white;
	text-align: center;
	padding: 1em 1em;
	margin-top: 1em;
	
}

.footerlist {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	margin: 1em;
}

.footerlink {
    margin: 1em;
    color: white;
}